body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #02565e;
  margin-left: 20px;
 
}

h1 {
  font-size: 2.4em;
  line-height: 1.1;
  color: rgb(255, 242, 0);
}

h2 {
  font-size: 1.1em;
  color: rgb(70, 248, 70);
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  
}

table {
  width: 100%;
}
td {
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
th {
  font-size: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: cadetblue;
}

tr:nth-child(even) {background-color: #434754;}